html {
  height: 100%;
  overflow: hidden;
  body {
    height: 100%;
    font-family: var(--font);
    background-color: var(--primary-ui-color);
    #__nuxt {
      height: 100%;
      #__layout {
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}