html {
  font-size: 16px;
  overflow: hidden;
  body {
    font-family: var(--font);
    background-color: var(--primary-ui-color);
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}