:root {
  --primary-ui-color: #080808;
  --white-color: #E6E6E6;
  --gray-color: #808080;
  --dark-gray-color: #383838;
  --dark-blue-color: #1F295B;
  --light-blue-color: #B1D0E0;
  --red-color: #DA0037;
  --pink-color: #CE82C7;
  --purple-color: #8D5BE9;
  --green-color: #1E5128;
  --light-green-color: #A0C1B8;
}